* {
    padding: 0px;
    margin: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 49px;
    width: 1520px;
    height: 1020px;
    background: #FBFEFD;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px 0px;
    gap: 492px;
    width: 968px;
    height: 102px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 12px;
    width: 164.14px;
    height: 33.93px;
}

.logo:hover {
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;
    width: 42px;
    height: 42px;
}

.menu:hover {
    cursor: pointer;
}

.first,
.second {
    height: 3px;
    background: #111827;
    border-radius: 999px;
}

.first {
    width: 28px;
}

.second {
    width: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 38px;
    gap: 8px;
    width: 971px;
    height: 732px;
    background: linear-gradient(99.03deg, #FBED96 -1%, #ABECD6 92.31%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 23px 30px rgba(171, 236, 214, 0.2);
    border-radius: 44px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 42px;
    width: 895px;
    height: 672px;
}

.card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;
    width: 895px;
    height: 512px;
}

.img-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 184px;
    height: 181px;
    background: #EFFFFA;
    box-shadow: 0px 25px 50px -12px rgba(182, 237, 207, 0.4);
    border-radius: 124px;
}

.text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    isolation: isolate;
    width: 895px;
    height: 281px;
    position: relative;
}

.vector {
    position: absolute;
    width: 178.83px;
    height: 39.72px;
    left: 394.43px;
    top: 97.94px;
    z-index: -1;
}

.p-1 {
    width: 364px;
    height: 60px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: -0.06em;
    color: #111827;
}

.p-2 {
    width: 895px;
    height: 213px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 118.6%;
    text-align: center;
    color: #111827;
}

.p-2>span {
    background-image: linear-gradient(#0994D0, #B4FCE2);
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 45px;
    height: 46px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 36px;
    gap: 8px;
    width: 155px;
    height: 46px;
    background: #111827;
    border-radius: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.contact:hover {
    cursor: pointer;
}

.download {
    background: transparent;
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 8px;
    width: 152px;
    height: 30px;
    border-bottom: 2px solid #111827;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124%;
    color: #111827;
}

.download:hover {
    cursor: pointer;
}

.projects {
    width: 1520px;
    height: 982px;
    position: relative;
}

.project-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 77px;
    position: absolute;
    width: 969px;
    height: 853px;
    left: 156px;
    top: 56px;
}

.project-txt>h3 {
    width: 372px;
    height: 166px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 92px;
    line-height: 83px;
    color: #111827;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 21px;
    width: 969px;
    height: 453px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 309px;
}

.cart {
    height: 453px;
}

.trivia {
    height: 438px;
}

.trybetunes {
    height: 440px;
}

.item>h2 {
    width: 272px;
    height: 57px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 57px;
    color: #111827;
}

.cart-btns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 203px;
    height: 32px;
}

.skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    border-radius: 999px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 99%;

}

.skill-1 {
    background: #0EA5E9;
    color: #FFFFFF;
}

.skill-2 {
    background: #FDE68A;
    color: #111827;
}

.skill-3 {
    background: #22C55E;
    color: #FFFFFF;
}

.skill-4 {
    background: #A855F7;
    color: #FFFFFF;
}

.example-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 309px;
    height: 324px;
}

.example-1-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 309px;
    height: 285px;
    background: #E13738;
    border-radius: 18px;
}

.example-1-img {
    width: 100%;
    height: 237.1px;
    background: url(./images/image\ 8.png);
}

.links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 0px 14px;
    gap: 20px;
    width: 156px;
    height: 29px;
}

.github {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 60px;
    height: 29px;
}

.github>div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 3px 5px;
    gap: 8px;
    width: 60px;
    height: 29px;
    border-bottom: 3px solid #111827;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111827;
}

.github:hover {
    cursor: pointer;
}

.deploy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 62px;
    height: 29px;
}

.deploy>div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 3px 5px;
    gap: 8px;
    width: 62px;
    height: 29px;
    border-bottom: 3px solid #111827;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111827;
}

.deploy:hover {
    cursor: pointer;
}

.trivia-btns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 301px;
    height: 32px;
}

.example-2 {
    width: 309px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.example-2-img {
    border-radius: 18px;
    width: 100%;
    height: 100%;
    background: url(./images/file\ cover\ -\ 1\ 1.png);
}

.example-3 {
    width: 309px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.example-3-div {
    position: relative;
    width: 309px;
    height: 260px;
    background: #ED7854;
    border-radius: 18px;
}

.example-3-img {
    position: absolute;
    width: 309px;
    height: 204.8px;
    left: calc(50% - 309px/2);
    top: calc(50% - 204.8px/2 + 5.42px);
    background: url(./images/image\ 7.png);
}

.links-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 0px 14px;
    gap: 20px;
    width: 256px;
    height: 31px;
}

.deploy-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 80px;
    height: 31px;
}

.deploy-txt {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 80px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111827;
}

.next-prev-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 969px;
    height: 80px;
}

.prev,
.next {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 8px;
    width: 80px;
    height: 80px;
    background: #F59E0B;
    border-radius: 999px;
    box-sizing: border-box;
}

.prev:hover,
.next:hover {
    cursor: pointer;
}

.skills {
    position: absolute;
    left: 0px;
    top: 2106px;
    width: 1520px;
    height: 982px;
}

.descrip {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;
    position: absolute;
    width: 968px;
    height: 563px;
    left: 156px;
    top: 338px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;
    width: 551px;
    height: 563px;
}

.all-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 46px;
    width: 472px;
    height: 231px;
}

.rect {
    width: 5px;
    height: 231px;
    background: #111827;
    border-radius: 999px;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 46px;
    width: 472px;
    height: 231px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #111827;
}

.skills-sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 551px;
    height: 276px;
}

.skills-sub>h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 90%;
    color: #111827;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 32px;
    width: 551px;
    height: 205px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    gap: 24px;
    width: 148px;
    height: 205px;
    border-radius: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 17px;
    color: #111827;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 148px;
    height: 148px;
    background: #F0F9FF;
    border-radius: 41.0443px;
}

.bg {
    width: 124px;
    height: 124px;
}

.bg-1 {
    position: relative;
    width: 124px;
    height: 124px;
    background: #38BDF8;
    box-shadow: 0px 9.12096px 9.12096px rgba(8, 163, 230, 0.1), 0px 9.12096px 9.12096px rgba(7, 126, 218, 0.2);
    border-radius: 41.0443px;
}

.bg-1>img {
    position: absolute;
    left: 16.22%;
    right: 16.22%;
    top: 19.59%;
    bottom: 19.59%;

}

.bg-2 {
    position: relative;
    width: 124px;
    height: 124px;
    background: #83CD29;
    box-shadow: 0px 9.12096px 9.12096px rgba(131, 205, 41, 0.2), 0px 9.12096px 9.12096px rgba(131, 205, 41, 0.2);
    border-radius: 41.0443px;
}

.bg-2>img {
    position: absolute;
    left: 17.57%;
    right: 17.57%;
    top: 16.22%;
    bottom: 16.22%;
}

.bg-3 {
    position: relative;
    width: 124px;
    height: 124px;
    background: #00618A;
    box-shadow: 0px 9.12096px 9.12096px rgba(0, 97, 138, 0.2), 0px 9.12096px 9.12096px rgba(0, 97, 138, 0.2);
    border-radius: 41.0443px;

}

.bg-3>img {
    position: absolute;
    left: 11.15%;
    right: 11.15%;
    top: 30.41%;
    bottom: 29.05%;
}

.logo-2 {
    position: absolute;
    width: 313px;
    height: 227px;
    left: 135px;
    top: 56px;
}

.contact-2 {
    position: absolute;
    left: 0px;
    top: 3140px;
    width: 1520px;
    height: 745px;
    background: #111827;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 40px 40px 0px 0px;
}

.closing {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 6px;
    position: absolute;
    width: 530px;
    height: 46px;
    left: 493px;
    top: 676px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    color: #111827;
}

.closing>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0px;
    gap: 8px;
    width: 40px;
    height: 30px;
}

.social-stuff {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 968px;
    height: 545px;
    left: 156px;
    top: 129px;
}

.left-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 474px;
    height: 545px;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 474px;
    height: 284px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 92px;
    line-height: 94px;
    color: #FFFFFF;
}

.left-social>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #FFFFFF;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 307px;
    height: 44px;
    border-bottom: 2px solid #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #FFFFFF;
}

.social-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 145px;
    height: 65px;
}

.social-bg {
    width: 474px;
    height: 452px;
    border-radius: 18px;
    background-image: url(./images/Frame\ 80.png);
}