* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 10px;
}