* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: aquamarine;
}

nav>span {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(78, 78, 78)
}

form>input {
    color: rgb(78, 78, 78);
    padding: 2px 10px;
    border-radius: 2rem;
    font-size: 1.5rem;
    border: none;
    box-shadow: 2px 2px 10px 2px #e7fff7;
}

form>input:focus {
    outline: none;
}