* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    color: #4e4e4e;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #8088ff;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

input {
    padding: 10px;
    border-radius: 2rem;
    font-size: 1.5rem;
    border: none;
    box-shadow: 2px 2px 10px 2px #e7fff7;
}

input:focus {
    outline: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px;
    justify-content: space-between;
}

.card {

    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: 400px;
    box-shadow: 2px 2px 10px #8088ff;
}

img {
    width: 100%;
    height: fit-content;
}

.desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    font-size: 20px;
    font-weight: 600;
}

span {
    font-weight: 700;
}

.detail {
    display: none;
    align-self: center;
    justify-content: space-between;
    padding: 20px;
    width: 60vw;
    height: 60vh;
    flex-direction: column;
    box-shadow: 2px 2px 10px #8088ff;
    border-radius: 1rem;
    position: absolute;
    top: 25%;
    left: 25%;
}

button {
    font-size: large;
    font-weight: 700;
    padding: 20px;
    width: 100px;
    border: none;
    border-radius: 999px;
    background-color: #b5ffff;
    transition-duration: 0.5s;
}

button:hover {
    background-color: aqua;
    transition-duration: 0.8s;
}